{% extends 'base.html' %}

{% block content%}
    <h2>Welcome to Tweetme </h2>    

    <div id="tweets">
        Replace me
    </div>

    <script>
            const tweetElement=document.getElementById('tweets')
            tweetElement.innerHTML='Loading....'
            // var el1="<h3> Hey .There</H3>"
            // var el2="<h3> Hey .There</H3>"
            // var el3="<h3> Hey .There</H3>"

            //     tweetElement.innerHTML=el1+el2+el3 


            const xhr=new XMLHttpRequest()  //python: xhr=someclass()
            const method='GET'   //other method POST
            const url="/tweets"
            const responseType="json"
            
            function handledDidLike(tweet_id,currentCount)
            {
                console.log(tweet_id,currentCount)
            }


            function LikeBtn(tweet)
            {
                return "<button class='btn btn- btn-sm' onclick=handledDidLike("+ tweet.id  + 
                        ","+ tweet.likes + ") >"+ tweet.likes+" Like</button>"
            }

            function formattedTweetElement(tweet)
            {
                var formattedTweet="<div class='mb-4 mx-4 tweet' id='tweet-"+ tweet.id+"'>"
                + "<p>"+ tweet['content']+
                    "</p><div class='btn-group'>"+ LikeBtn(tweet)
                    +"</div></div>"
                return formattedTweet
            }

            xhr.responseType=responseType
            xhr.open(method,url)
            xhr.onload= function()
            {
                
                const serverResponse=xhr.response
                const listedItems=serverResponse.response
                var finalTweetstr=""
                var i
                for(i=0;i<listedItems.length;i++)
                {
                    //console.log(i)
                    //console.log(listedItems[i])
                    var tweetobj=listedItems[i]
                    var currentItem=formattedTweetElement(tweetobj)
                   
                    //console.log(currentItem)
                    finalTweetstr+=currentItem
                }

                tweetElement.innerHTML=finalTweetstr

                //console.log(listedItems)
            }
            xhr.send()

    </script>
{% endblock content%}